@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  html {
    font-family: "Raleway", sans-serif;
  }
  body {
    overflow-x: hidden;
  }
}

@layer components {
  nav.active {
    @apply right-0 transition-all ease-in-out duration-500;
  }
}

@layer utilities {
}
